.tile {
  height: 100px;
  width: 100px;
  padding: 20px;
  border: 2px solid #61dafb;
  color: #61dafb;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  font-size: 18px;
  font-weight: bold;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.tile-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile-face-front {
  transform: rotateY(0deg);
}

.tile-face-back {
  transform: rotateY(180deg);
}

.tile.flipped {
  transform: rotateY(180deg);
}

.card-holder {
  display: flex;
  margin-bottom: 150px;
}

.scale {
  transform: scale(1.1);
  transition: transform 3s ease-in-out !important;
  box-shadow: 0 0 30px 15px #fff, 0 0 50px 30px #f0f, 0 0 70px 45px #0ff;
}

.parentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #15202b;
}

.title {
  font-size: 50px;
  font-weight: bold;
  color: white;
  padding-bottom: 100px;
}

.resetButton {
  background-color: #61dafb;
  color: black;
  border: 2px solid #61dafb;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.resetButton:hover {
  background-color: #282c34;
  color: #61dafb;
}

.tries {
  color: white;
  font-size: 20px;
}
